
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f9;
    background-image: url(./asset/image/nature.jpeg);
    background-size: cover;
  }
  
  header {
    background-color: #021d03dc;
    color: white;
    padding: 1rem;
    text-align: center;

  }
  
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    text-align: center;
  }
  
  .buttons button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;

  }
  
  .buttons button:hover {
    background-color: #021d03dc;
    color: white;
    
  }
  
  footer {
    text-align: center;
    padding: 10px;
    background-color: #021d03dc;
    color: white;
    position: fixed;
    width: 100%;

  }
  
  @media screen and (max-width: 600px) {
    main {
      flex-direction: column;
    }
  }